.glide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.glide__track {
  flex: 1;
}

.glide__slide {
  line-height: 150px;
  color: #fff;
  font-size: 1em;
}

.glide__arrows {
  padding: 5px;
  position: absolute;
  right: 0;
}

.glide__arrow {
  padding: 5px;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #dadde2;
}

.glide__arrow:hover {
    background-color: #dadde2;
    border: 1px solid transparent;
}
